<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register page</title>
</head>
<body>
<header>
    <div class="link"><a href="http://127.0.0.1:5000/"><img class="header" src="/static/pics/LenProd.PNG"></a></div>
    <div class="link"><a href="http://127.0.0.1:5000/">Home page</a></div>
    <div class="link"><a href="#">download our games</a></div>
    <div class="link"><a href="#">Info</a></div>
    <div class="link"><a href="http://127.0.0.1:5000/login" class="login">Register / Login</a></div>
</header>
<main>
    <div class="login_block">
        <form action="" method="POST">
            <h1>Register</h1>
            <label>Username</label>
            <input type="text" name="username" id="username">
            <label>E-mail</label>
            <input type="text" name="email" id="email">
            <label>Password</label>
            <input type="text" name="password" id="password">
            <label>Confirm password</label>
            <input type="text" name="confirm_password">
            <button>Submit</button>
            <a class="a_reg" href="http://127.0.0.1:5000/login">Back to Login</a>
        </form>
        </div>
</main>
<footer>

</footer>
</body>
</html>